h1{
    color: orange;
    position: relative;
}
span{
    color: purple;
}

.first-image{
    position: relative;
    width: 200px;
    height: 200px;
    float: left;
    display: inline;
}

.first-text{
    float: left;
    font-size: medium;
}


.second-image{
    position: relative;
    width: 200px;
    height: 200px;
    float:left;
    display: inline;
}

.second-text{
    text-align: left;
    font-size: medium;
}

footer{
    text-align: right;
    clear: both;
}

@media (min-width:160px)and (max-width:256px){
    *{
        background-color: aqua;
        text-size-adjust:inherit ;
    }
}